<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="dark">
<head>
    <link rel="icon" type="image/x-icon" href="https://icon-icons.com/downloadimage.php?id=156875&root=2613/ICO/512/&file=astronomy_jupiter_galaxy_planet_space_system_universe_icon_156875.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
    <title>Admin</title>
</head>
<body class="bg-gray-900">
<div th:include="header"></div>
<div class="container mx-auto p-8">
    <h1 class="text-3xl font-bold mb-6 text-center text-gray-100">Admin Page</h1>

    <div th:include="admin/addUserForm"></div>
    <div th:include="admin/addClassForm"></div>
    <div th:include="admin/addClassToStudentForm"></div>
    <div th:include="admin/editUserForm"></div>
    <div th:include="admin/editClassForm"></div>

    
    <div th:include="admin/userTable"></div>
    <div th:include="admin/classTable"></div>
</div>
</body>
</html>
